@import "../style.scss";
.order{
    width: 1320px;
    margin-top: 70px;
    height: 900px;
    margin-bottom: 50px;
}
.order__decor{
    font-size: 20px;
    font-weight: 300;
}
p{
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0 20px 0;
}
.input, .order__bonus{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border: solid 0.5px  rgba(37, 37, 37, 0.5);
    color:rgba(37, 37, 37, 0.5);
    font-size: 16px;
    padding: 16px;
}
.input_shadow{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
  
    color:rgba(37, 37, 37, 0.5);
    font-size: 16px;
    padding: 16px;
         box-shadow: 0px 7px 20px 0px rgba(220, 36, 42, 0.871); 
         border:none;
}
.radio_shadow{
    width: 18px;
    height: 18px; 
    margin: 0;
    box-shadow: 0px 7px 20px 0px rgba(220, 36, 42, 0.871); 
}

.order__wrapper__input{
    width: 820px;
    display: flex;
    justify-content: space-between;

}
.order__wrapper{
    display: flex;
    width: 820px;
    justify-content: space-between;
    
}
.order__wrapper__radio{
    width: 400px;
   
}
.input_radio{
    width: 18px;
    height: 18px; 
    margin: 0;
  
   
}

.order__wrapper__radio div{
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
 
 
}
input + label{
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.order__bonus{
    width: 820px;
}
.order__delivery{
    margin-bottom: 0;
}
.order__personal__information{
   display: flex;
   justify-content: space-between;
}
.order__wrapper__decor{
    width: 300px;
}
.order__decor__welcome{
    font-size: 16px;
    color: #ac2b16;
    margin-bottom: 20px;
}
.order__decor__delivery, .order__decor__bonus, .order__decor__total{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}
.order__bold{
    font-weight: 700;
    font-size: 16px;
}
.button{
    width: 300px;
    height: 50px;
    color: white;
    background-color: #ac2b16;
    font-size: 16px;
    font-weight: 300;
    border: none;
}
.disabled{
    width: 300px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: $color-white;
  background-color: $color-grey-6;
  cursor: not-allowed  !important;
}
.order__decor__conditions{
margin-bottom: 20px;
font-weight: 300;
}
.order__decor__information{
    margin-bottom: 30px;
    font-weight: 300;
}
.order__consent{
    width: 300px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    text-align: justify;
}