.personaldata{
   width: 1320px; 
   min-height: 400px;
}
.input{
    width: 310px;
    font-size: 16px;
    padding: 16px;
}
.personal__wrapper__input {
    justify-content: space-between;
    display: flex;
    
}
.personal__wrapper__adress{
    display: flex;
    justify-content: space-between;

}
.input__adress{
    width: 645px;
    font-size: 16px;
    padding: 16px;
}
.button{
    width: 1320px;
    height: 50px;
    color: white;
    background-color: #ac2b16;
    font-size: 16px;
    font-weight: 300;
    border: none;
    margin-top: 20px;
}
.disabled{
    width: 1320px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: white;
  background-color: grey;
  cursor: not-allowed  !important;
  margin-top: 20px;
}
.person__title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}
.person__adress{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}