.background_image {
  width: 100%;
  height: 900px;
  background: url('../../assets/image/E25BCF1D-38FE-4D77-8FBF-322F56CCB272.png')
  no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 1;
}

.new_collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-weight: 300;
}
.new_collection hr {
  width: 120px;
  height: 1px;
}
.title_new {
  font-size: 46px;
  margin: 0;
  padding-bottom: 20px;
}

.look {
  width: 374px;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
