.catalog {
  width: 1320px;
  margin: auto;

  & .catalog_menu {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 500px;
    margin-top: 20px;
  }
  & .sidebar_menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 83px;
    line-height: 83px;

   & .sidebar_title {
      width: 170px;

      font-size: 20px;
      font-weight: 500;
    }

    & .card_title {
      width: 82%;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 300;
    }
  }

  & .wrapper_sidebar_cards {
    display: flex;
    justify-content: space-between;

    & .wrapper_text {
      width: 17%;

      & .sidebar_text {
        font-size: 16px;
        font-weight: 300;
      }
      & .wrapper_text p {
        padding-bottom: 20px;
        cursor: pointer;
      }
    }
  }
  & .card_items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.icon {
  height: 19px;
}
