@import "../style.scss";

.catalog_card {
  width: $container-desktop-width;
  margin: auto;
}
.card_item {
  width: $container-desktop-width;
  margin: 30px auto 0 auto;
  border: none;
  display: flex;
  justify-content: space-between;
}

.card_pictures {
  display: flex;
  width: 610px;
  justify-content: space-between;
}
.item_colorcircle {
  display: flex;
  width: 50px;
  justify-content: space-between;
  margin-top: 20px;
}
.black {
  background-color: $color-black;
}
.white {
  background-color: $color-white;
}
.item_colorcircle button {
  width: 21px;
  height: 21px;
  border: solid 1px $color-black;
  border-radius: 50px;
}
.item_colorcircle button:focus {
  transform: scale(1.2, 1.2);
  transition-duration: 50ms;
  outline: none;
}
.additional_pictures {
  width: 100px;
  height: 540px;
  flex-flow: row wrap;
  align-content: space-between;
  display: flex;
}

.main_picture {
  width: 500px;
  height: 540px;
  margin-left: 10px;
}
.main_picture img {
  width: 500px;
  height: 540px;
  border: 0.5px solid $dark-grey;
}
.additional_pictures div img {
  width: 100px;
  height: 100px;
  border: 0.5px solid $dark-grey;
}
.card_description {
  width: 580px;
  height: 570px;
}
.item_name {
  font-size: 20px;
  font-weight: $fw-light;
}
.item_price {
  font-size: 16px;
  font-weight: $fw-bold;
  margin-top: 20px;
}
.item_colortext {
  color: $color-red;
  margin-top: 10px;
}
.item_buttons button {
  width: 280px;
  height: 50px;
}
.item_buttons {
  width: 580px;
  display: flex;
  justify-content: space-between;
  margin: $margin-top-20-and-bottom-20
}
.add_to_cart {
  background-color: $color-red;
  color: $color-white;
  border: none;
  font-size: 16px;
}
.add_to_cart:hover {
  background-color: $color-black;
  cursor: pointer;
  transition: 0.5s;
}
.add_to_cart:active {
  box-shadow: 0px 3px 7px 0px rgba(37, 37, 37, 0.15) inset;
}

.to_favorites {
  background-color: $color-white;
  color: $color-red;
  font-size: 16px;
  border: 0.5px solid $dark-grey;
}
.to_favorites:hover {
  box-shadow: 0px 5px 7px 0px rgba(37, 37, 37, 0.15);
}
.to_favorites:active {
  box-shadow: 0px 3px 7px 0px rgba(37, 37, 37, 0.15) inset;
}
hr {
  width: 530px;
}
.composition_and_care {
  font-size: 14px;
  font-weight: $fw-thin;
  margin-top: 20px;
}
.details {
  margin-bottom: 20px;
}
#demo_simple_select_label {
  font-size: 16px;
  font-weight: $fw-thin;
}
.details,
.description,
.compound {
  font-size: 16px;
  font-weight: $fw-light;
}
.description,
.compound {
  display: flex;
  justify-content: space-between;
  height: 19px;
  align-items: center;
}
.icon {
  cursor: pointer;
}
.disabled {
  border: none;
  padding: 10px;
  color: $color-white;
  background-color: $color-grey-6;
  width: 100%;
  cursor: not-allowed  !important;
}

.back{
  box-shadow:  2px 6px 10px 4px rgb(67%, 17%, 9%, 1)!important;
}
.bac{
  box-shadow:  none!important;
}
